<div class="row note-list-item">
    <div class="time">
		<%= note.time.strftime("%l:%M %p")%>
		<%= link_to "View", controller: "notes", action: "show", id: note.id %>
    </div>
    <div class="note-text">
		<%= simple_format(note.description) %>
		<% if note.tags.size > 0 %>
			<% note.tags.each do |t| %>
				<%= image_tag "tag-icon.png" %>
				<i><%= t.name %></i></br> 
			<% end %>
			</br>
		<% end %>
    </div>
</div>
