<div class="row note-list-item">
    <div class="time">
    	<% if @includeDate %>
			<%= note.date.strftime("%B %e, %Y at") %>
		<% end %>
		<%= note.time.strftime("%l:%M %p") %>
		<%= link_to "View", controller: "notes", action: "show", id: note.id %>
    </div>
    <div class="note-text">
		<%= simple_format(note.description) %>
		<% if displayTags %>
			<% if note.tags.size > 0 %>
				<% note.tags.each do |t| %>
					<%= image_tag "tag-icon.png" %>
					<i><%= link_to t.name, controller: "tags", action: "show", id: t.id %></i>&nbsp;&nbsp;
				<% end %>
				</br>
			<% end %>
		<% end %>
    </div>
</div>
