	<div class="note-list-item">
		<p>
 		<span class="time">
    		<% if @includeDate %>
				<%= note.date.strftime("%B %e, %Y - ") %>
			<% end %>
			<%= note.time.strftime("%l:%M %p") %>
		</span>
		<%= simple_format(note.description, {class: "note-text"}, {wrapper_tag: "div"}) %>
		</p>
		<% if displayTags %>
			<p>
			<% if note.tags.size > 0 %>
				<% note.tags.each do |t| %>
					<%= image_tag "tag-icon.png" %>
					<i><%= link_to t.name, controller: "tags", action: "show", id: t.id %></i>&nbsp;&nbsp;
				<% end %>
			<% end %>
			</p>
		<% end %>
	</div>
	<div class="note-list-item">
		<%= link_to "VIEW", controller: "notes", action: "show", id: note.id %>&nbsp;&nbsp;&nbsp;
		<%= link_to "EDIT", controller: "notes", action: "edit", id: note.id %>&nbsp;&nbsp;&nbsp;
		<%= link_to "DELETE", { controller: "notes", action: "destroy", id: note.id },
			method: :delete, data: { confirm: "Are you sure?" } %>
	</div>
