<div class="row note-list-item">
    <div class="col-xs-3 col-md-2 date">
		<div class="date-day"><%= @dayList[:date].strftime("%e")%></div>
		<div class="date-weekday"><%= @dayList[:date].strftime("%^a")%></div>
		<% if @dayList.notes.size > 1 %>
			<div class="date-all">
				<%= link_to "ALL #{@dayList.notes.size} Notes", controller: "day_note_lists", action: "show", id: @dayList.id %>
			</div>
		<% end %>
   	</div>

	<div class="col-xs-9 col-md-7 ">
		<%= render partial: "notes/note", 
		    locals: { note: @dayList.displayedNotes.first,
	 		   displayTags: false } %>
		<% if @dayList.notes.size > 1 %>
			<% if @dayList.notes.size == 2 %>
				There is 1 more note
			<% else %>
				There are <%= @dayList.notes.size - 1 %> more <%= ActiveModel::Naming.plural(Note) %>
			<% end %>
		<% end %>
	</div>

	<div class="col-xs-3 col-md-3 note-tags"></div>
	<div class="col-xs-9 col-md-3 note-tags">
		<% usedTags = @dayList.usedTags %>
		<% usedTags.each do |tag| %>
			<%= image_tag "tag-icon.png" %>
			<%= link_to tag.name, controller: "tags", action: "show", id: tag.id %></br>
		<% end %>
	</div>
</div>
