<div class="row note-list-row">
    <div class="col-xs-3 col-md-2 date">
		<div class="date-day"><%= @dayList[:date].strftime("%e")%></div>
		<div class="date-weekday"><%= @dayList[:date].strftime("%^a")%></div>
		<% if @dayList.notes.size > 1 %>
			<div class="date-all">
				<%= link_to "ALL #{@dayList.notes.size} Notes", controller: "day_note_lists", action: "show", id: @dayList.id %>
			</div>
		<% end %>
   	</div>

	<div class="col-xs-9 col-md-7 ">
		
		<div class="row note-row">
		<%= render partial: "notes/note", 
	    	        locals: { note: @dayList.displayedNotes.first,
 		   	   displayTags: false } %>
	    </div>
	    <div class="row">
			<% if @dayList.notes.size > 1 %>
				<% if @dayList.notes.size == 2 %>
				    <span>There is 1 more note</span>
				<% else %>
					<span>There are <%= @dayList.notes.size - 1 %> more <%= ActiveModel::Naming.plural(Note) %></span>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="col-xs-3 col-md-3 note-tags"></div>
	<div class="col-xs-9 col-md-3 note-tags">
		<% usedTags = @dayList.usedTags %>
		<% usedTags.each do |tag| %>
			<%= image_tag "tag-icon.png" %>
			<%= link_to tag.name, controller: "tags", action: "show", id: tag.id %></br>
		<% end %>
	</div>
</div>
