<div class="row note-list-item">
    <div class="col-xs-2 date">
		<div class="date-day"><%= @dayList[:date].strftime("%e")%></div>
		<div class="date-weekday"><%= @dayList[:date].strftime("%^a")%></div>
    </div>

	<%= render partial: "notes/note_list", locals: { noteList: @dayList.notes }%>

	<% if @onlyOneNote%>
	<% usedTags = @dayList.usedTags %>
	<div class="col-xs-2 note-tags">
		<% usedTags.each do |tag| %>
			<%= image_tag "tag-icon.png" %>
			<%= tag.name %></br>
		<% end %>
	</div>
	<% end %>
</div>
