<div class="row note-list-item">
    <div class="col-xs-2 date">
		<div class="date-day"><%= @dayList[:date].strftime("%e")%></div>
		<div class="date-weekday"><%= @dayList[:date].strftime("%^a")%></div>
   	</div>

	<div class="col-xs-7">
		<%= render partial: "notes/note_list", locals: { noteList: @dayList.notes }%>
	</div>

	<div class="col-xs-3 note-tags">
		<% usedTags = @dayList.usedTags %>
		<% usedTags.each do |tag| %>
			<%= image_tag "tag-icon.png" %>
			<%= link_to tag.name, controller: "tags", action: "show", id: tag.id %></br>
		<% end %>
	</div>
</div>
