<%= form_for :tag, url: tag_path(@tag), method: :patch do |f| %>
<div class="row">
  <div class="row note-header">
	<div class="col-sm-12 col-xs-12">TAG</div>
  </div>
  <div class="row note-details">
 	<div class="col-sm-2 col-xs-3 note-label">
		<%= f.label :name %>
	</div>
    <div class="col-sm-10 col-xs-9 note-value">
		<%= f.text_field :name %>
    </div>
  </div>
  <div class="row button-entry-row">
 	<div class="col-sm-1 col-xs-1"></div>
 	<div class="col-sm-2 col-xs-2 button-entry">
		<%= link_to "Delete", { action: "destroy", id: @tag.id },
		method: :delete, data: { confirm: "Are you sure?" } %>
 	</div>
 	<div class="col-sm-1 col-xs-1"></div>
 	<div class="col-sm-2 col-xs-2 button-entry">
		<%= link_to "CANCEL", controller: "home", action: "index" %>
 	</div>
 	<div class="col-sm-1 col-xs-1"></div>
 	<div class="col-sm-2 col-xs-2 button-entry">
		<%= f.submit "OK", :class => 'submit-button' %>
 	</div>
 	<div class="col-sm-1 col-xs-1"></div>
  </div>
</div>
<% end %>
