<div class="row">
  <div class="row note-header">
	<div class="col-sm-10 col-xs-8">ALL TAGS</div>
	<div class="col-sm-2  col-xs-4 note-header-link">
	</div>
  </div>
  <div class="row note-details">
 	<label class="col-sm-2 col-xs-3 note-label">
		<% if @tags.size == 0 %>
 			No tags
		<% elsif @tags.size == 1 %>
 			<%= @tags.size %> tag
		<% else %>
 			<%= @tags.size %> <%= ActiveModel::Naming.plural(Tag) %>
 		<% end %>
 	</label>
    <div class="col-sm-10 col-xs-9 note-value">
		<% @tags.each do |tag| %>
			<%= image_tag "tag-icon.png" %>
			<%= link_to tag.summarize, controller: "tags", action: "show", id: tag.id %></br>
		<% end %>
    </div>
  </div>
  <div class="row button-entry-row">
 	<div class="col-sm-4 col-xs-2"></div>
 	<div class="col-sm-4 col-xs-8 button-entry">
		<%= link_to "OK", controller: "home", action: "index" %>
 	</div>
 	<div class="col-sm-4 col-xs-2"></div>
  </div>
</div>
